body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 85% !important;
}

.activity-table-section {
    height: 45vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007bffa4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

.fixed-layout {
    width: 100%;
    table-layout: fixed;
}

.checkbox-column {
    width: 5%;
}

.id-column {
    width: 5%;
}

.title-column {
    width: 45%;
}

.status-column {
    width: 27.5%;
}

.progress-column {
    width: 17.5%;
}

.text-wrap {
    white-space: normal;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 99% !important;
    }

    .activity-table-section {
        height: 50vh;
        overflow-x: auto;
    }

    .checkbox-column {
        width: 6%;
    }

    .id-column {
        width: 6%;
    }

    .title-column {
        width: 45%;
    }

    .status-column {
        width: 20%;
    }

    .progress-column {
        width: 20%;
    }

    .fixed-layout {
        overflow-x: auto;
        width: 100%;
    }
}